html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	background-image: url(../img/galaxy.jpg);
	color: white;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	display: flex;
	flex-flow: row nowrap;
	background-color: #8b35d1;
}
p, [for="abtype"] {
	margin-bottom: 0;
	margin-top: 2rem;
}
section {
	flex-basis: 57%;
	margin-right: 10%;
}
aside {
	flex-basis: 33%;
}
fieldset{
	border: 1px solid white;
	border-radius: 10px;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
legend{
	font-weight: bold;
	font-size: 1.3rem;
}
label{
	display: block;
}

select{
	font-size: 1rem;
}
button{
	font-size: 1rem;
	margin: 1rem 0;
	background-color: #00ff37;
	border: none;
	border-radius: 5px;
	padding: 0.5rem 1rem;
}
button:hover{
	cursor: pointer;
	background-color: #4eff74;
}

input:not([type="radio"], [type="checkbox"]), textarea, select{
	display: block;
	margin-bottom: 1rem;
	width: 20rem;
	max-width: 20rem;
	font-family: 'Roboto', sans-serif;
		font-size: 1rem;
	border-radius: 5px;
	border: none;
	padding: 0 5px;
}




